*{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    background-color: orange;
    border-bottom: 2px solid black;
    line-height: 70px;
    width: 100%;
}
nav li{
    text-decoration: none;
    float: left;
    list-style-type: none;
    margin-left: 350px;
    margin-right: -200px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
nav li a:hover{
    cursor: pointer;
    color: blue;
}
h1{
    padding-top: 100px;
    text-align: center;
    color: orange;
}
img{
    width: 500px;
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
